body {
    background-image:url("1659200846-picsay.jpg") ;
    background-size: cover;
}

.main{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 23px 30px;
}

.main .presentation{
    color: white;
    margin: 23px 30px;

}

.main .presentation h1{
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
}


.parcours{
    width: 100%;
    height: fit-content;
}

.parcours h2{
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.parcours p{
    color: white;
    font-size: 18px;
    margin: 20px 30px;
}

.viespirituelle{
    width: 100%;
    height: fit-content;
    color: white;
}

.viespirituelle h1{
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
}

.viespirituelle p{
    margin: 20px 30px;
    font-size: 18px;
}


.cursus{
    width: 100%;
    height: fit-content;
    color: white;
}

.cursus h1{
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
}

.cursus p{
    margin: 23px 30px;
    font-size: 18px;
    text-align: center;
}

.objectif{
    width: 100%;
    height: fit-content;
    color: white;
}

.objectif h1{
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
}

.objectif p{
    margin: 23px 30px;
    font-size: 18px;
    text-align: center;
}


@media screen and (max-width: 750px){

    body {
        width: 100%;
    }

    header{
        width: 100%;
    }

    .main{
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .main img{
        width: 70%;
    }

    .parcours, .viespirituelle, .cursus, .objectif{
        margin-bottom: 50px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}


@media screen and (max-width: 990px){
    body {
        width: 100%;
    }

    header{
        width: 100%;
    }

    .main{
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .main img{
        width: 70%;
    }

    .parcours, .viespirituelle, .cursus, .objectif{
        margin-bottom: 50px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}